[submodule "third_party/deps/imgui-src"]
	path = third_party/deps/imgui-src
	url = https://github.com/ocornut/imgui.git
[submodule "third_party/deps/assimp-src"]
	path = third_party/deps/assimp-src
	url = https://github.com/assimp/assimp.git
[submodule "third_party/deps/outcome-src"]
	path = third_party/deps/outcome-src
	url = https://github.com/ned14/outcome.git
[submodule "third_party/deps/win_io-src"]
	path = third_party/deps/win_io-src
	url = https://github.com/grishavanika/win_io.git
